.title-label {
    -fx-font-size: 35px;
}
.PlayerCard{
   -fx-max-width: 450px;
   -fx-pref-height: 40px;
   -fx-border-color: black;
   -fx-border-width: 0 0 1 0;
   -fx-padding: 0 0 2 0;

}

.PlayerName , .PlayerScore{
 -fx-font-size: 18px;
 -fx-font-width:bold;
}
.WinnerPlayerCard{
    -fx-background-color:#3c247f;
    -fx-max-width: 450px;
    -fx-pref-height: 70px;
    -fx-padding: 3px;
    -fx-alignment: center;

}
.PlayerNameWinner , .PlayerScoreWinner{
  -fx-text-fill: white;
   -fx-font-size: 18px;
   -fx-font-width:bold;
   -fx-padding: 2px;
   -fx-alignment: center;
}
.option-btn{
   -fx-background-color: #ffffff9e;
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-background-radius: 7px;
    -fx-padding: 2px;
    -fx-alignment: center;
    -fx-margin:20px;
   -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-font-size: 19px;
     -fx-margin-top:100px;
}
.option-btn:hover{
    -fx-background-color: #ffffffc4;
    -fx-cursor: hand;
}